video/mp4;video/x-matroska;video/webm;video/ogg;video/x-msvideo;video/quicktime;video/x-flv;video/mpeg;video/3gpp;video/dv;video/x-ms-wmv;video/x-ms-asf;audio/mpeg;audio/ogg;audio/flac;audio/x-wav;audio/aac;audio/mp4;audio/x-matroska;audio/webm;audio/opus;audio/x-ms-wma;audio/x-ms-asf;application/x-subrip;text/vtt;text/x-ass;image/gif;image/jpeg;image/png;image/webp;
