const nonServerName = [
    "Proxy", "DIRECT", "REJECT", "自动选择", "故障转移"
]

const proxySec = {{ .secret.vpn | toPrettyJson "    " }}

function main(config) {
    config.proxies = [
        ...proxySec,
        ...config.proxies,
    ]

    config["proxy-groups"].forEach((group) => {
        if (group.name === "Proxy") {
            const proxies = group.proxies
            const index = proxies.findIndex((name) => !nonServerName.includes(name))

            for (const p in proxySec) {
                const name = p.name
                if (typeof name === "string") {
                    proxies.splice(index, 0, name)
                    index ++
                }
            }
        }
    })

    return config
}
